.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-konten-hapus{
    width: 25%;
    height: 20%;
    background: white;
    padding: 15px 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.modal-konten-hapus h4{
    margin-top: 20px;
}

.modal-actions{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-hapus-modal{
    background-color: #f32f2f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor:pointer;
}

.btn-hapus-modal:hover{
    background-color: #c21717;
}

.btn-batal-modal{
    background-color: #8d94a3;
    color:white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-batal-modal:hover{
    background-color: #595c61;
}